<section id="projects">
<div class="container">
  <h3>Applications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://hacker-arena.com">Hacker Arena</a></strong>
			<span><i> - Competitive Coding Platform for Algorithms and Toy Problems</i></span>

			<p>Built with React/Redux, Node, Firebase Suite.</p>
			
			<ul>
				<li> Created system in which data is passed between clients using firebase database and sockets, providing near instantaneous interactivity between users</li>
				<li> Created multiple tiers of user authentication using client-side cookies and custom database rules, thereby protecting user data from malicious deletion or insertion</li>
			</ul>
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://teach-yoself.herokuapp.com/">Teach Yo Self</a></strong>
			<span><i> - Web app for teachers and students to create/share lessons, and for students to learn from.</i></span>
			
			<p>Built with React, Node, Express, MongoDB, and Passport.</p>

			<ul>
				<li> Implemented Google/Facebook OAuth login using Passport, reducing average account creation time by almost 5 seconds </li>
				<li> Added cross-site integration using Google Classroom API with OAuth access key, allowing teacher and student users to add content to their G-Classroom accounts</li>
			</ul>
		
		</h5>
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://billeasy.herokuapp.com/">billeasy</a></strong>
			<span><i> - Restaurant bill splitting solution.</i></span>
			
			<p>Built using AngularJS, Node, Express, MongoDB, Twilio API.</p>

			<ul>
				<li> Architected system of text messages to pass application state between devices </li>
				<li> Leveraged Express to implement RESTful server endpoints for Twilio API </li>
			</ul>

		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Paabrown/slice-around-here">Slice Around Here!</a></strong>
			
			<span><i> - The quick way to find a slice around here!</i></span>
			
			<p> Built with React, Node, Express, Google Maps API, and Yelp API </p>

			<ul>
				<li> Retrieved location-based search data using Yelp API with Google Maps integration </li>
				<li> Made OSS contributions to google-maps-react module to access additional functionality of the Google Maps API </li>
			</ul>

		</h5>
		<h5>

    </div>
  </div>
</div>
</section>
